doctype
html
    head
        title=titleName
        meta(charset='utf-8')
    body
        p=mp3Name
        img(src=srcUrl)
        audio(controls)
            source(src=mp3Url)
            
        audio(src="../mp3/shanhai.mp3")